# ignore stuff from example
input_images

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore os stuff
.DS_Store
.vscode

# ignore venv
venv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv